% Comment

[
    {kernel, 
		[ 
			{inet_dist_listen_min, 9100},
			{inet_dist_listen_max, 9105} 
		]
	},
	
	{rabbit, 
		[
			{tcp_listeners, [{"127.0.0.1",5672}]},
			{ssl_listeners, [{"127.0.1.1",5671}]},
			{heartbeat, 60},
			{frame_max, 1048576}
		] 
	},
	
    {log_levels, [{connection, info}]}
].
